*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(76, 64, 165, 0.919);
    color: aliceblue;
    border: 3px solid rgb(74, 14, 14);
    height: 100vh;
    
}
header, main{
    border: 2px solid red;
    display: flex;

}

.logo, nav{
    border: 2px solid lightgreen;
    flex: 1;
}
/* index.html */
.text{
    border: 1px solid yellowgreen;
    flex: 1;
}
