.title{
    display: flex;
    width: 50%;
    border: 1px solid red;
}
.form{
    display: flex;
    width: 33%;
    border: 1px solid green;
    justify-content: center;
    align-items: center;

    .formulaire{
        padding: 3rem;
        display: flex;
        flex-direction: column;
        background-color: gray; 
        align-items: left; 
        max-height: 70vh;
        border-radius: 15px;
    }
}
input[type=submit]{
    padding: 0.5rem;
    margin: 1rem; 
    border-radius: 15px;
}
label{
    padding-bottom: 1rem;
    padding-top: 0.5rem;
   
}
input[type=text]{
    border-radius: 15px;
    height: 3rem;
}
textarea{
    border-radius: 15px;
}



