/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*/
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Luckiest+Guy&family=Pacifico&family=Poppins:wght@300&display=swap');


*{
    box-sizing: border-box;
}
/*
    Les couleurs
Le fond de la page: #2F3038
Le fond du formulaire: #202027
Le fond des inputs: #2F3038
Le fond du footer: #202027
La couleur d'accent: #BC3A80
La couleur du bouton du formulaire: #1867A7

:root {
  --main-bg-color: pink;
}

body {
  background-color: var(--main-bg-color);
}

*/
:root{
    --main-bg-color: #2F3038;
    --main-color: aliceblue;
    --form-bg-color: #202027;
    --input-bg-color: #2F3038;
    --footer-bg-color: #202027;
    --accent-color: #BC3A80;
    --accent-color-darker: #9d316b;
    --button-color: #1867A7;    
}

body{
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: 'Borel', cursive;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border: 3px solid green;     
    overflow: hidden;
    height: 100vh;
    margin: 0;
}


/* HEADER */

#header{
    display: flex;
    justify-content: space-between;
}
.logo{
    border: 2px solid rgb(128, 223, 222);
    display: flex;
}
.logo, nav{
    flex: 1;
    width: 250px;
    height: 100px;      
}
.logoSound{
    margin-right: 1rem;
    margin-left: 1rem;
}
h1{
    color: white;
    font-weight: 600;
    margin-left: 1rem;
}

/* Menu */
nav{
    display: flex;
    justify-content: flex-end;    
}
ul{
    display: flex;
    list-style-type: none;
}
ul > li{
    margin: 1rem;
}
li > a{
    text-decoration: none;
}
a{
    color: var(--main-color);  
}

.menu a.current{
    color: white;
    font-weight: 600;
}


/* MAIN */
main{
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1.5px;
   min-height: calc(100vh - 100px);
    font-weight: 400;
    
}
.imageInterprete{
    display: flex;
    align-items: flex-end;
}
.text{
    border: 1px solid yellowgreen; 
    flex: 1;
    height: 82vh;
    margin-left: 7rem;
    
}
h2{
    font-size: 3rem;
    margin-top: 5.5rem;
}
h3{
    font-size: 1.5rem;
}
input[type=button]{
    color: var(--main-color);
    background-color: var(--accent-color);
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: 700;
    margin: 4px 2px;
    border: 1px solid var(--input-bg-color);
    border-radius: 1rem;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: ease 0.5s;
}
input[type=button]:hover{
    background-color: var(--accent-color-darker);
    padding: 0.95rem 2.9rem;

}
input[type=button]:active{
    box-shadow: 2px 2px 5px #fc4df6;
}

img{
    max-height: 790px;
}   

